body {
  background-color: whitesmoke;
  animation: backgroundChange 5s infinite alternate;
}

@keyframes backgroundChange {
  0% {
    background-color: whitesmoke;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: whitesmoke;
  }
}

.search-bar {
    margin: 20px 0;
  }
  
  .search-bar .MuiTextField-root {
    background-color: white;
  }
  
  .search-bar .MuiButton-root {
    background-color: #2808e2;
    color: #fff;
  }
  
  .search-bar .MuiButton-root:hover {
    background-color: #2808e2;
  }
  .button {
    --color: #1900a9;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(252, 254, 255);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   